a.light {
    color: white !important;
}

.rounded{
    padding: 5px 5px 10px 5px;
    text-align: center;
    border-radius: 10px;
}

#line {
    border: 1px solid #C9302C;
}

.padded-13{
    padding: 13px;
}

#socials i {
    color: #C9302C;
    font-size: 30px;
    position: relative;
    top: 10px;
}

#socials a {
    text-decoration: none;
    outline: none;
}

.logo {
    position: relative;
    top: -11px;
}

.offset-top-12 {
    margin-top: 12px !important;
}

.panel-item {
    background-color: #E36565 !important;
    color: white !important;
    text-align: center;
    padding: 5px 0;
}

.custom-navbar {
    text-align: right;
    margin-top: 1px;
}

.scroll-top {
    margin-left: 20px;
    position: fixed;
    bottom: 40px;
    right: -0px;
    display: none;
    z-index: 1000;
    height: 40px;
    width: 40px;
    background-color: rgb(34,34,34);
    padding: 4px;
}

a.scroll-top:hover {
    color: white !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

a.scroll-top:focus {
    color: white !important;
    font-weight: bold !important;
    text-decoration: none !important;
}

.flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.window {
    min-height: 500px;
}

.offset-bottom {
    margin-bottom: 20px;
}

.footer {
    min-height: 80px;
    color: white;
    padding: 20px 0;
}

div.footer > div > p {
    text-align: justify;
}

/* fade on slider */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1 !important;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-inner > .item > img,
.carousel-inner > .itm > a > img {
    width: 100%;
    height: 400px;
    margin: auto;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0) 100%) !important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -77px !important;
    color: #000 !important;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, transparent 100%) !important;
    background-repeat: repeat-x;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -85px !important;
    color: #000 !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #00b3ee;
    border: 2px solid rgb(255, 255, 255) !important;
    border-radius: 50px;
}

.carousel-indicators .active {
    width: 32px !important;
    height: 32px !important;
    margin: 10px;
    background-color: #4662b5;
    border: 2px solid white !important;
    border-radius: 50px;
}

p{
    text-align: justify !important;
}

@media screen and (max-width: 768px) {

    .window {
        min-height: 0px;
    }

    .custom-navbar {
        text-align: right;
        margin-top: -12px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .itm > a > img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -15px !important;
        color: white !important;
        display: none;
    }

    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -15px !important;
        color: white !important;
        display: none;
    }
    
    .item-img {
    width: 100% !important;
    height: 350px;
}
}

@media screen and (max-width: 978px) {
    .custom-navbar {
        text-align: right;
        padding-bottom: 20px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .itm > a > img {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .item-img {
    width: 100% !important;
    height: 400px;
}
}

@media screen and (max-width: 1200px) {
    .custom-navbar {
        text-align: right;
        padding-bottom: 20px;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .itm > a > img {
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .item-img {
    width: 100% !important;
    height: 350px;
}
}
